﻿@model RailwayCashboxApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-6 col-md-offset-3" style="margin-top:3%;">
        <h2 style="text-align:center;margin-left:23%;">Client Registration Form</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-9">
                <input type="text" name="FullName" placeholder="Full Name" class="form-control" autofocus required>
                <span class="help-block">Last Name, First Name: Bernet, Martin</span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" name="Email" placeholder="Email" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" name="Password" placeholder="Password" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>
            <div class="col-sm-9">
                <input type="password" name="ConfirmPassword" placeholder="Password" class="form-control" required>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <input type="submit" class="form-control ui button primary" value="Register" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
