﻿@{
    ViewBag.Title = "Home Page";
}
@using RailwayCashboxApp.ViewModel;
@model TrainViewModel

<style>
    .editInput {
        width: 200px;
    }

    .alert {
        margin-right: 15px;
    }

    .userDivButton {
        cursor: pointer;
    }

        .userDivButton:hover, .userDivButton:active {
            background-color: whitesmoke;
        }

    .removeUserDivButton {
        padding: 3px;
    }

        .removeUserDivButton:hover, .removeUserDivButton:active {
            background-color: silver;
            border: 1px solid gray;
            border-radius: 3px;
        }
</style>
<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div style="margin-top: 5%">
                <div class="form-group">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {

                        <div class="form-group ui message info" style="margin-bottom: 5%;">
                            <div class="form-group">
                                <p>
                                    Введите название поезда
                                </p>
                                <input class="form-control" type="text" name="Name" required autofocus />
                            </div>
                            <div>
                                <input class="form-control ui button primary" value="Добавить поезд" type="submit" name="Name" required autofocus />
                            </div>
                        </div>
                    }
                    @foreach (var item in Model.Trains)
                    {
                        <div class="list-group-item userDivButton">
                            <div class="row">
                                <div class="col-lg-10">
                                    <span> Train:@item.Name </span><br />
                                    <span style="font-size: 0.85em">Count carriage: @item.CarriageResponses.Length </span>
                                </div>

                                @using (Html.BeginForm("DeleteTrain", "Home", FormMethod.Post))
                                {
                                    <button type="submit" name="id" value="@item.TrainId" class="ui icon button pull-right">
                                        <i class="trash icon"></i>
                                    </button>
                                }
                                <a class="ui button basic" style="margin-left:2%;margin-top:2%;"
                                   href="~/Home/Info?id=@item.TrainId">More details...</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
    <div class="pull-right col-lg-4 ui message info">
        <div style="margin-left:5%;margin-right:5%;">
            <h3> Добавить вагон</h3>
            <div class="form-group">
                @using (Html.BeginForm("AddCarriage", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        <p>Выберите поезд</p>
                        <select class="form-control" name="TrainsId">
                            @foreach (var item in Model.Trains)
                            {
                                <option value="@item.TrainId">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <p>Тип вагона</p>
                        <select class="form-control" name="CarriageTypeId">
                            @foreach (var item in Model.CarriagesTypes)
                            {
                                <option value="@item.CarriageTypeId"> @item.Name</option>
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <p>Кол-во мест в вагоне</p>
                        <input class="form-control" type="number" name="CountPlace" value="" />
                    </div>
                    <div class="form-group">
                        <p>Цена за место </p>
                        <div class="ui right labeled input" style="margin-bottom:2%;margin-top:2%;">
                            <div class="ui label">$</div>
                            <input type="text" class="" style="width:240px;" placeholder="Amount..." name="Price" required>
                            <div class="ui basic label">.00</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control ui button primary"
                               value="Добавить вагон" type="submit" name="Name" required />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
