﻿@{
    ViewBag.Title = "Home Page";
}
@using RailwayCashboxApp.ViewModel;
@model TrainViewModel
@section scripts{
    <script src="~/Scripts/Angular/Controllers/trainController.js"></script>

}
<style>
    .editInput {
        width: 200px;
    }

    .alert {
        margin-right: 15px;
    }

    .userDivButton {
        cursor: pointer;
    }

        .userDivButton:hover, .userDivButton:active {
            background-color: whitesmoke;
        }

    .removeUserDivButton {
        padding: 3px;
    }

        .removeUserDivButton:hover, .removeUserDivButton:active {
            background-color: silver;
            border: 1px solid gray;
            border-radius: 3px;
        }
</style>
<div class="row" ng-controller="trainController">
    <div class="col-lg-4">
        <div class="row">
            <div style="margin-top: 5%">
                <div class="form-group">

                    <div class="form-group ui message info" style="margin-bottom: 5%;">
                        <div class="form-group">
                            <h2>
                                Общая информация о поезде
                            </h2>
                            <p>Название: @Model.Train.Name </p>
                            <p>Кол-во вагонов: @Model.Train.CarriageResponses.Length </p>
                            <p>
                                Общее кол-во посадочный мест:@Model.Train.CarriageResponses.Sum(x => x.Place.Length);
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <h2>
                            Вагоны поезда
                        </h2>
                        @foreach (var item in Model.Train.CarriageResponses)
                        {
                            <div class="list-group-item userDivButton">
                                <div class="row">
                                    <div class="col-lg-10">
                                        @*<h> Number carriage: @item.CarriageId </h><br />
                                        <span>Carriage type: @item.CarriageType</span><br />
                                        <span>Count place: @item.Place.Length</span>*@

                                    </div>

                                    <button type="submit" name="id" 
                                          value="@item.CarriageTypeId" class="ui icon button pull-right">
                                        <i class="edit icon"></i>
                                    </button>
                                    @using (Html.BeginForm("DeleteTrain", "Home", FormMethod.Post))
                                    {
                                        <button type="submit" name="id" value="@item.CarriageTypeId"
                                                class="ui icon button pull-right" style="margin-top:1%;">
                                            <i class="trash icon"></i>
                                        </button>
                                    }

                                </div>
                            </div>
                        }
                    </div>


                </div>
            </div>

        </div>
    </div>
    <div class="pull-right col-lg-4 ui message info">
        <div style="margin-left:5%;margin-right:5%;">
            <h3> Добавить вагон</h3>
            <div class="form-group">
                @using (Html.BeginForm("AddCarriageFromInfo", "Home", FormMethod.Post))
                {

                    <div class="form-group">
                        <p>Тип вагона</p>
                        <select class="form-control" name="CarriageTypeId">
                            @foreach (var item in Model.CarriagesTypes)
                            {
                                <option value="@item.CarriageTypeId"> @item.Name</option>
                            }

                        </select>
                    </div>
                    <input style="display:none" class="form-control" type="number" name="TrainsId" value="@Model.Train.TrainId" />
                    <input style="display:none" class="form-control" ng-model="CarriageId" type="number" name="CarriageId" value="" />

                    <div class="form-group">
                        <p>Кол-во мест в вагоне</p>
                        <input class="form-control"  ng-model="Count" type="number" name="CountPlace" value="" />
                    </div>
                    <div class="form-group">
                        <p>Цена за место </p>
                        <div class="ui right labeled input" style="margin-bottom:2%;margin-top:2%;">
                            <div class="ui label">$</div>
                            <input type="text" ng-model="Price" class="" style="width:240px;" placeholder="Amount..." name="Price" required>
                            <div class="ui basic label">.00</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control ui button primary"
                               value="Добавить вагон" type="submit" name="Name" required />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
