﻿<style>
    .editInput {
        width: 200px;
    }

    .alert {
        margin-right: 15px;
    }

    .userDivButton {
        cursor: pointer;
    }

        .userDivButton:hover, .userDivButton:active {
            background-color: whitesmoke;
        }

    .removeUserDivButton {
        padding: 3px;
    }

        .removeUserDivButton:hover, .removeUserDivButton:active {
            background-color: silver;
            border: 1px solid gray;
            border-radius: 3px;
        }
</style>
<div class="col-lg-4">
    <div class="row">
        <div style="margin-top: 5%">
            <div class="form-group" style="margin-bottom:5%;">
                <div class="form-group ui message info">
                    <div class="form-group">
                        <input class="form-control" type="text" name="Name" required autofocus/>
                    </div>
                    <div>
                        <input class="form-control ui button primary" type="submit" name="Name" required autofocus />
                    </div>
                </div>

                <div class="list-group-item userDivButton">
                    <div class="row">
                        <div class="col-lg-10">
                            <span> Train:UKR-Train </span><br/>
                            <span style="font-size: 0.85em">Count carriage </span>
                        </div>
                        <div class="col-lg-2">
                            <span  class="glyphicon glyphicon-trash pull-right removeUserDivButton"></span>
                        </div>
                    </div>
                </div>
                <div class="list-group-item userDivButton">
                    <div class="row">
                        <div class="col-lg-10">
                            <span> Train:UKR-Train </span><br />
                            <span style="font-size: 0.85em">Count carriage:6 </span>
                        </div>
                        <div class="col-lg-2">
                            <span class="glyphicon glyphicon-trash pull-right removeUserDivButton"></span>
                        </div>
                    </div>
                </div>

                <div class="list-group-item userDivButton">
                    <div class="row">
                        <div class="col-lg-10">
                            <span> Train:UKR-Train </span><br />
                            <span style="font-size: 0.85em">Count carriage </span>
                        </div>
                        <div class="col-lg-2">
                            <span class="glyphicon glyphicon-trash pull-right removeUserDivButton"></span>
                        </div>
                    </div>
                </div>

                <div class="list-group-item userDivButton">
                    <div class="row">
                        <div class="col-lg-10">
                            <span> Train:UKR-Train </span><br />
                            <span style="font-size: 0.85em">Count carriage </span>
                        </div>
                        <div class="col-lg-2">
                            <span class="glyphicon glyphicon-trash pull-right removeUserDivButton"></span>
                        </div>
                    </div>
                </div>
                <div class="list-group-item userDivButton">
                    <div class="row">
                        <div class="col-lg-10">
                            <span> Train:UKR-Train </span><br />
                            <span style="font-size: 0.85em">Count carriage </span>
                        </div>
                        <div class="col-lg-2">
                            <span class="glyphicon glyphicon-trash pull-right removeUserDivButton"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>