﻿@using RailwayCashbox.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">

    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()

            <div class="col-lg-6 col-lg-offset-3" style="margin-top:5%;">


                <div class="ui middle aligned center aligned grid">
                    <div class="column">
                        <h2 class="ui image header">
                            <img src="~/Content/img/uz.jpg" class="image" />
                            <div class="content">
                                Log-in to your account
                            </div>
                        </h2>
                        <div class="ui large form">
                            <div class="ui stacked segment">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" name="Email" placeholder="E-mail address">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="Password" placeholder="Password">
                                    </div>
                                </div>
                                <input class="ui fluid large submit button" value="Login" type="submit" />
                            </div>

                            <div class="ui error message"></div>

                        </div>

                        <div class="ui message">
                            New to us? @Html.ActionLink("Register as a new user", "Register")
                        </div>
                    </div>
                </div>
            </div>


        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}