﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #scrollup {
            position: fixed; /* фиксированная позиция */
            right: 10px; /* отступ слева */
            bottom: 10px; /* отступ снизу */
            display: none; /* спрятать блок */
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="ui menu" style="margin-top:0px;">
        <div class="item">
            <img src="~/Content/img/uz.jpg" />
        </div>
        <div class="item">
            @Html.ActionLink("Home", "Index", "Home")
        </div>
        <div class="item">
            @Html.ActionLink("About", "About", "Home")
        </div>
        <div class="item">
            @Html.ActionLink("Contact", "Contact", "Home")
        </div>
        <div class="right menu">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div id="scrollup">
            <img src="~/Content/img/Снимок.PNG" />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
